{
    "check-coverage": true,
    "statements": 70,
    "branches": 80,
    "functions": 60,
    "lines": 70,
    "extension": [
        ".ts"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "**/*.spec.ts"
    ],
    "reporter": [
        "lcov",
        "text-summary"
    ],
    "all": true
}